@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4c4c4;
  font-family: 'Roboto Mono', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

img:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > * {
  margin-bottom: 2rem;
}

.choices {
  display: flex;
  justify-content: space-around;
}

.results {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
